<!DOCTYPE html>
<html>
  <head>
    <title>Light Ray Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <!-- Container for Radio Buttons -->
      <div class="radio-buttons">
        <!-- Radio Buttons for Plot Selection -->
        <input type="radio" id="plot1" name="plotType" value="plot1" checked />
        <label for="plot1">Single Ray Small</label><br />

        <input type="radio" id="plot2" name="plotType" value="plot2" />
        <label for="plot2">Single Ray Exaggerated</label><br />

        <input type="radio" id="plot3" name="plotType" value="plot3" />
        <label for="plot3">All Rays Exaggerated</label><br />

        <input type="radio" id="plot4" name="plotType" value="plot4" />
        <label for="plot4">All Rays Small</label><br />
      </div>

      <!-- Container for the Plot Image -->
      <div
        style="position: relative; width: 320px; margin: auto"
        class="plot-container"
      >
        <!-- Left arrow button -->
        <button
          id="decrement"
          style="
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          &lt;
        </button>
        <!-- Slider -->
        <input
          type="range"
          id="alphaSlider"
          min="1"
          max="60"
          value="40"
          style="width: 260px; display: inline-block; margin: 0 30px"
        />
        <!-- Right arrow button -->
        <button
          id="increment"
          style="
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          "
        >
          &gt;
        </button>
      </div>
    </div>
    <img id="plotImage" src="/plot/1" alt="Plot Image" />
    <script>
      var slider = document.getElementById("alphaSlider");
      var decrementButton = document.getElementById("decrement");
      var incrementButton = document.getElementById("increment");
      var plotImage = document.getElementById("plotImage");

      // Debounce function
      function debounce(func, wait) {
        let timeout;

        return function executedFunction(...args) {
          const later = () => {
            clearTimeout(timeout);
            func(...args);
          };

          clearTimeout(timeout);
          timeout = setTimeout(later, wait);
        };
      }

      decrementButton.onclick = function () {
        // Decrease the slider value by 1, or more if you want faster changes
        slider.value = Math.max(slider.min, parseInt(slider.value) - 1);
        updateVisualization(slider.value);
      };

      incrementButton.onclick = function () {
        // Increase the slider value by 1, or more if you want faster changes
        slider.value = Math.min(slider.max, parseInt(slider.value) + 1);
        updateVisualization(slider.value);
      };

      // Debounced version of updateVisualization
      var debouncedUpdateVisualization = debounce(updateVisualization, 250);

      // Event listener using the debounced function
      slider.addEventListener("input", function () {
        debouncedUpdateVisualization(this.value);
      });

      window.addEventListener('load', function() {
          // Call the update function with the default value
          updateVisualization(slider.value);
      });

      // Function to get the selected plot type
      function getSelectedPlotType() {
        var radios = document.getElementsByName("plotType");
        for (var radio of radios) {
          if (radio.checked) {
            return radio.value;
          }
        }
      }

      // Update the updateVisualization function
      function updateVisualization(alpha) {
        var plotType = getSelectedPlotType();
        plotImage.src = `/plot/${plotType}/${alpha}`;
      }

      // Add event listeners for radio buttons
      var radios = document.getElementsByName("plotType");
      for (var radio of radios) {
        radio.addEventListener("change", function () {
          debouncedUpdateVisualization(slider.value);
        });
      }
    </script>
  </body>
</html>
